@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&display=swap');

:root {
 --white: white;
 --ltblue: #1283b9;
 --dkblue: #06435f;
}

.bg-white {
  background-color: var(--white);
}

.bg-ltblue {
  background-color: var(--ltblue);
}

.bg-dkblue {
  background-color: var(--dkblue);
}

.header {
  height: 400px;
  display: block;
  width: 100%;
}


body {
  font-family: "Marhey", sans-serif;
}